@media screen and (min-width: 1501px){
   #nav-bar-list{
      display: none;
   }
}

@media screen and (max-width: 1500px) {

   #nav-bar-list{
      display: block;
   }

   #btn-menu-list{
       display: block;
    }

    #nav-bar ul,
    .btn-resume-header{
       display: none;
    }

    #nav-bar{   
       width: 100px;
       height: 100px;
     }
}

@media screen and (max-width: 1200px) {

   #social,
   #email{
      height: 350px; 
   }

   .box-social span,
   #email span{
   height: 35%;
   }

   .icon-email{
      font-size: 0.8em;
   }

   .letter-anim{
      font-size: 5em;
   }

   .letter-space{
      font-size: 5em;
   }
    
   .about-user-img{
      width: 100px;
      height: 100px;
      top: 10%;
   }

   .other-skills-line{
      width: 1200px;
   }

   .other-skill-item{
      width: 80px;
      height: 40px;
      font-size: 0.8em;
   }

   .hobby-item{
      min-width: 210px;
   }

   .hobbies{
      gap: 30px;
      overflow: scroll;
   }
}


@media screen and (max-width: 1024px) {

   .menu-list-item a{
      font-size: 3em;
   }

   #social,
   #email{
      width: 80px; 
   }

   .letter-anim{
      font-size: 4em;
   }

   .letter-space{
      font-size: 4em;
   }

   .about-user-info-title h2{
      font-size: 1.5em;
    }
    
    .about-user-info-title h3{
      font-size: 1em;
    }

    .about-user-info-description p,
   .about-user-info-data p{
      font-size: 0.8em;
    }

   .frame-skills{
      flex-direction: column;
      height: 650px;
      gap: 2%;
   }

   .skill-list{
      width: 90%;
      height: 48%;
   }

   .skill-item{
      height: 30%;
   }

    .thanks h2{
      font-size: 1.3em;
    }

    .thanks h3{
      font-size: 1em;
    }

    .credits h3{
      font-size: 1em;
    }
   
}

@media screen and (max-width: 768px){

   .menu-list-item a{
      font-size: 2.5em;
   }

   #social,
   #email{
      display: none;
   }

   .container{     
      width: 90%;
    }

    .letter-anim{
      font-size: 3.3em;
   }

   .letter-space{
      font-size: 3.3em;
   }

   .frame-about{
      height: 800px;
   }

   .frame-skills{
      gap: 5%;
   }

   .skill-list{
      width: 85%;
   }

   .skill-item{   
      height: 25%;
   }

   .skill-item-icon{
      width: 80px;
      height: 80px;
   }

   .projects-row-up{
      animation: animation-projects-rows-up-768 15s infinite;
    }
    
    .projects-row-down{
      transform: translateX(-150%);
      animation: animation-projects-rows-down-768 15s infinite;
    }

   .project-item{
      min-width: 50%;
   }

   .works-time-line{
      max-height: 500px;
   }

   .work-item{
      width: 79%;
    }

    .work-item-info{
      font-size: 0.8em;
    }

    .sub-title-hobbies{
      margin-top: 10%;
    }

    .hobbies{
      flex-wrap: wrap;
      justify-content: center;
      /* width: 430px; */
      height: 55%;
      margin: 0 auto;
      gap: 15px;
      overflow: hidden;
    }

    .hobby-item{
      width: 40%;
      min-width: auto;
      height: 363px;
    }

    .hobby-item-title{
      font-size: 0.8em;
    }

    .hobby-item-description{
      font-size: 0.8em;
    }

    .frame-contact{
      width: 90%;
    }

    .thanks h2{
      font-size: 1.1em;
    }

    .thanks h3{
      font-size: 0.8em;
    }

    .credits h3{
      font-size: 0.8em;
    }
  
}

@media screen and (max-width: 480px){
   .btn,
   .btn span{
      width: 120px;
      height: 35px;
   }

   .btn span{
      line-height: 35px;
      font-size: 0.8em;
      letter-spacing: 0.1em;
   }

   .title-section{
      padding: 10px;
    }

    .title-section h2{
      font-size: 2.2em;
      letter-spacing: 1px;
    }

   #about{
      margin-bottom: 50px;
   }

   .letter-anim{
      font-size: 2.8em;
   }

   .letter-space{
      font-size: 2.8em;
   }

   .frame-about{
      height: 500px;
      margin-top: 20px;
    }


    .about-user-info{
      gap: 2%;
      height: 85%;
      top: 10%;
    }

   .about-user-img{
      width: 80px;
      height: 80px;
      top: 1%;
   }

   .sub-title-hobbies,
   .sub-title-other-skills{
      font-size: 1em;
    }

   .hobbies{
      gap: 10px;
    }

   .hobby-item{
      width: 48%;
      min-width: 150px;
      height: 280px;
      gap: 2%;
    }

    .hobby-item-info{
      gap: 5%;
      height: 55%;
    }

    .hobby-item-title{
      font-size: 0.7em;
    }

    .hobby-item-description{
      font-size: 0.7em;
    }

    .skills-description{
      padding: 20px;
      font-size: 0.9em;
    }

    .skill-item-meta{
      font-size: 0.8em;
    }

    .skill-item-bar{
      height: 10px;
    }

    .frame-other-skills{
      height: 100px;
    }

    .projects-description{
      font-size: 0.8em;
      margin-top: 10px;
    }

    .work-item{
      width: 90%;
    }

    .work-item-info{
      font-size: 0.6em;
    }

    .work-3{
      height: 40px;
    }

    #contact{
      height: 700px;
      overflow: hidden;
    }

    .frame-form{
      height: 90%;
    }

    .form-input label{
      font-size: 0.9em;
    }

   .form-contact button{
         align-self: center;
   }

   .frame-form ul{
      margin-top: 20px;
      scale: 0.9;
   }

   #btn-contact{
      height: 35px;
      width: 130px;
   }

   .submitMessage svg {
      left: 50px;
   }

   .thanks h2{
      font-size: 1em;
    }

    .thanks h3{
      font-size: 0.6em;
    }

    .credits h3{
      font-size: 0.6em;
    }
}


@media screen and (max-width: 360px){
   body{
      width: 360px;
      min-width: 360px;
    }
}